<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ChannelCreate</servlet-name>
		<servlet-class>com.letsrave.ChannelCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Vote</servlet-name>
		<servlet-class>com.letsrave.VoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetVotes</servlet-name>
		<servlet-class>com.letsrave.GetVotesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserParties</servlet-name>
		<servlet-class>com.letsrave.UserPartiesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilterEvents</servlet-name>
		<servlet-class>com.letsrave.FilterEvents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpadatePlaylist</servlet-name>
		<servlet-class>com.letsrave.UpdatePlaylistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Playlist</servlet-name>
		<servlet-class>com.letsrave.PlaylistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PartyCreate</servlet-name>
		<servlet-class>com.letsrave.PartyCreateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PartyCreate</servlet-name>
		<url-pattern>/party_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Playlist</servlet-name>
		<url-pattern>/playlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpadatePlaylist</servlet-name>
		<url-pattern>/update_playlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserParties</servlet-name>
		<url-pattern>/user_parties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterEvents</servlet-name>
		<url-pattern>/filter_events</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vote</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetVotes</servlet-name>
		<url-pattern>/get_votes</url-pattern>
	</servlet-mapping>
	<!-- /channel_create should be called when the party starts
	it generates a short lived channel key 
	 -->
	<servlet-mapping>
		<servlet-name>ChannelCreate</servlet-name>
		<url-pattern>/channel_create</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>